h1{
    padding: 1rem;
    margin: 1rem;
}

#button-add{
    padding: 1rem;
    border-radius: 0.5rem;
}

#div-output{
    padding: 1rem;
    border: solid;
    margin: auto;
    max-width: 200px;
    font-weight: bolder;
    font-size: large;
}

#div-button{
    margin:1rem;
    text-align: center;
    font-size: large;
}

#input-id{
    padding: 1rem;
    border: solid;
    margin: auto;
    max-width: 200px;
    font-weight: bolder;
    font-size: large;
}

#div-input{
    text-align: center;
}